<!-- Trigger Button -->
<button class="btn btn-primary" (click)="open()">Open Modal</button>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="card" style="width: 70%;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">{{headers[1] | titlecase}}</th>
          <th scope="col">{{headers[0] | titlecase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of AllData?.categories; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="totalPages > 1" class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<div *ngIf="totalPages > 1">
  <button *ngFor="let page of [].constructor(totalPages); let i = index" 
          (click)="goToPage(i + 1)">
    {{ i + 1 }}
  </button>
</div>

<!-- Trigger Button -->
<button class="btn btn-primary" (click)="open()">Open Modal</button>

<!-- Modal Template -->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="FormsData">
      <div class="mb-3">
        <label for="name" class="form-label">Category Name</label>
        <input type="text" formControlName="name" class="form-control" id="name">
        
        <!-- Display error message if field is invalid -->
        <div *ngIf="FormsData.get('name')?.invalid && FormsData.get('name')?.touched" class="text-danger">
          Category Name is required.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="FormsData.invalid">Save changes</button>
  </div>
</ng-template>
