<div class="main-content">
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium consectetur nisi, sit amet cursus ligula convallis at.</p>
                </div>

                <div class="col-md-4 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a routerLink="/" class="text-white">Home</a></li>
                        <li><a routerLink="/crud/product" class="text-white">Product</a></li>
                        <li><a routerLink="/crud/category" class="text-white">Category</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-3">
                    <h5>Contact</h5>
                    <p>123 Main Street, City, Country</p>
                    <p>Email: info&#64;example.com</p>
                    <p>Phone: +123 456 7890</p>
                </div>
            </div>

            <div class="text-center mt-4">
                <a routerLink="/" class="text-white mx-2"><i class="fab fa-facebook"></i> Facebook</a>
                <a routerLink="/" class="text-white mx-2"><i class="fab fa-twitter"></i> Twitter</a>
                <a routerLink="/" class="text-white mx-2"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a routerLink="/" class="text-white mx-2"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>

        <div class="bg-dark text-center py-2 mt-4">
            <p class="mb-0">© 2025 Your Company. All rights reserved.</p>
        </div>
    </footer>
</div>
